body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
ol li{
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}
.container{
    background-color: #E1B86E;
    margin-left: auto;
    margin-right: auto;
}
.heading{
    color:#aa93b8;
    text-align: center;
    background-color: #E1B86E;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navigation{
    background-color: #C88561;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
}
a:link{
    color: #aa93b8;
    text-decoration: none;
}
a:hover{
    background-color: #F3D3A7;
}
.paragraph{
    text-align: center;
    background-color: #F3D3A7;
    padding: 10px;
    border: 10px solid #a7c1c3;
    border-radius: 0px 0px 20px 20px;
}
#personal-data, td, th{
    border: 1px solid;
}
th{
    background-color: #aa93b8;
}
td{
    background-color: #a7c1c3;
}
#personal-data{
    width: 80%;
    border-collapse: collapse;
    margin-left: 190px;
}
img.view{
    height: 100px;
}
#certificates{
    margin-left: 650px;
}
img.certificates{
    height: 200px;
}
ul li{
    text-align: left;
}
